@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!-- ********************** -->
<!--     I N T R O          -->
<!-- ********************** -->
<div id="intro">
    <div id="intro_wrap">
        <div class="container_12">
            <div id="breadcrumbs" class="grid_12">
                <a asp-action="Index" asp-controller="Home">Ana Sayfa</a>
                &gt; <a href="cart.html">Yeni Üye/Üye Girişi</a>
            </div>
            <h1>Üye Girişi</h1>
        </div>
    </div>
</div>
<!-- end of intro -->
<!-- ********************** -->
<!--      C O N T E N T     -->
<!-- ********************** -->
<div id="content" class="container_16">
    <div id="login_page" class="grid_16">

        <div class="grid_8 alpha">
            <h2 class="s_title_1"><span class="s_secondary_color">Müşteri</span> olmak istiyorum.</h2>
            <div class="clear"></div>
            <form id="account" action="forms.html">
                <div class="s_row_3 clearfix">
                    <p>Sipariş oluşturma seçenekleri:</p>
                    <label class="s_radio" for="register">
                        <input type="radio" id="register" checked="checked" />
                        <strong>Hemen üye ol..</strong>
                    </label>
                    <label for="guest">
                        <input type="radio" id="guest" />
                        <strong>Misafir olarak..</strong>
                    </label>
                    <br />
                    <p>Bir hesap oluşturarak daha hızlı alışveriş yapabilir, bir siparişin durumundan haberdar olabilir ve daha önce verdiğiniz siparişleri takip edebilirsiniz.</p>
                </div>
                <br />
                <br />
                <span class="clear border_ddd"></span>

                <a class="s_button_1 s_main_color_bgr" href="/identity/account/Register"><span class="s_text">Devam</span></a>
            </form>
        </div>

        <div class="grid_8 omega">
            <h2 class="s_title_1"><span class="s_secondary_color">Kayıtlı</span> Müşteriyim</h2>

            <div class="clear"></div>

            <form id="account" method="post">
                Kayıtlı müşteriyim.<br />
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="s_row_3 clearfix">
                    <strong> <label asp-for="Input.Email" class="form-label"></label></strong>
                    <input asp-for="Input.Email" size="35" class="required email" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <strong><label asp-for="Input.Password" class="form-label"></label></strong>
                    <input asp-for="Input.Password" size="35" class="required email" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                </div>
                <span class="clear border_ddd"></span>
                <div>
                    <button id="login-submit" type="submit" class=" s_button_1 s_main_color_bgr"><span class="s_text">GİRİŞ</span></button>
                </div>

            </form>
        </div>

    </div>
</div>
<!-- end of content -->
